.border-bottom {
  border-bottom: 1px solid $border-color;
}


input {
    font-family: 'Heebo', sans-serif;
    border: none;
    direction: rtl;
    border-bottom: 1px solid $border-color;
    outline: none;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  .pointer,
  .btn  {
    cursor: pointer;
  }
  
  .disabled {
    color: $border-color;
  }
  
  .btn {
    font-size: $links-font-size;
      @media (max-width: 768px){
        font-size: 18px;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover:not(.disabled) {
        // box-shadow: 0px 0 7px 0 rgba(0, 0, 0, 0.17);
        box-shadow: 0 0 11px rgba(33,33,33,.4); 
      }
      color: $app-blue;
      background-color: #fff;
      padding: 5px 0;
      width: 120px;
      outline: none;
      &.disabled {
        border: 1px solid $border-color;
      }
    }
  
  .big-btn {
    cursor: pointer;
    background-color: $app-blue;
    color: #fff;
    // width: 22vw;
    // height: 7vh;
    // font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.disabled, &.inactive {
      background-color: $border-color;
    }
  }
  
  $medium-spinner-size: 40px;
      
  .medium-spinner {
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    width: ($medium-spinner-size / 4) * 3;
    // height: $medium-spinner-size;
    height: auto;
  }
  .medium-spinner:after {
    content: ' ';
    display: block;
    width: ($medium-spinner-size / 3) * 2;
    height: ($medium-spinner-size / 3) * 2;
    border-radius: 50%;
    border: 3px solid $app-blue;
    border-color: $app-blue transparent $app-blue transparent;
    animation: spinner 1.2s linear infinite;
  }

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}