@import './fonts.scss';
@import './firebaseui.scss';
@import 'vars.scss';
@import 'helpers.scss';
@import 'controls.scss';

body {
  margin: 0;
}

#app {
  font-family: 'Heebo', sans-serif;
  // overflow: hidden;

  @media (max-width: 768px) {
    overflow: auto;
  }


  // scrollbar css
  ::-webkit-scrollbar-track {
    background-color: transperent;
  }
  ::-webkit-scrollbar {
    display: block;
    width: 4px;
    background-color: transperent;
  }
  ::-webkit-scrollbar-thumb {
    display: block;
    border-radius: 10px;
    background-color: $border-color;
  }
}