@import './fonts.scss';
@import './firebaseui.scss';

$padding: 4vw;
$border-color: #e1e1e1;
$app-blue: #3b7dee;
$app-green: #0080009c;

$links-font-size: 14px;
$text-font-size: 12px;
$btns-font-size: 18px;

body {
  margin: 0;
}

input {
  font-family: 'Heebo', sans-serif;
  border: none;
  direction: rtl;
  border-bottom: 1px solid $border-color;
  outline: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.pointer,
.btn  {
  cursor: pointer;
}

.btn {
  font-size: $links-font-size;
    @media (max-width: 768px){
      font-size: 18px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      // box-shadow: 0px 0 7px 0 rgba(0, 0, 0, 0.17);
      box-shadow: 0 0 11px rgba(33,33,33,.4); 
    }
    color: $app-blue;
    background-color: #fff;
    border: 1px solid $app-blue;
    padding: 5px 0;
    width: 120px;
    outline: none;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.space-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

#app {
  font-family: 'Heebo', sans-serif;
  overflow: hidden;

  @media (max-width: 768px) {
    overflow: auto;
  }


  // scrollbar css
  ::-webkit-scrollbar-track {
    background-color: transperent;
  }
  ::-webkit-scrollbar {
    display: block;
    width: 4px;
    background-color: transperent;
  }
  ::-webkit-scrollbar-thumb {
    display: block;
    border-radius: 10px;
    background-color: $border-color;
  }
}