@import './fonts.scss';
@import './firebaseui.scss';

$padding: 4vw;
$border-color: #c3c3c3;
$app-blue: #3b7dee;
$app-green: #0080009c;

$links-font-size: 14px;
$text-font-size: 12px;
$btns-font-size: 18px;

body {
  margin: 0;
}

input {
  font-family: 'Heebo', sans-serif;
  border: none;
  direction: rtl;
  border-bottom: 1px solid $border-color;
  outline: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.pointer,
.btn  {
  cursor: pointer;
}

.disabled {
  color: $border-color;
}

.btn {
  font-size: $links-font-size;
    @media (max-width: 768px){
      font-size: 18px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover:not(.disabled) {
      // box-shadow: 0px 0 7px 0 rgba(0, 0, 0, 0.17);
      box-shadow: 0 0 11px rgba(33,33,33,.4); 
    }
    color: $app-blue;
    background-color: #fff;
    padding: 5px 0;
    width: 120px;
    outline: none;
    &.disabled {
      border: 1px solid $border-color;
    }
  }

.big-btn {
  cursor: pointer;
  background-color: $app-blue;
  color: #fff;
  // width: 22vw;
  // height: 7vh;
  // font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

$medium-spinner-size: 40px;
    
.medium-spinner {
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  width: ($medium-spinner-size / 4) * 3;
  // height: $medium-spinner-size;
  height: auto;
}
.medium-spinner:after {
  content: ' ';
  display: block;
  width: ($medium-spinner-size / 3) * 2;
  height: ($medium-spinner-size / 3) * 2;
  border-radius: 50%;
  border: 3px solid $app-blue;
  border-color: $app-blue transparent $app-blue transparent;
  animation: spinner 1.2s linear infinite;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.space-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

#app {
  font-family: 'Heebo', sans-serif;
  overflow: hidden;

  @media (max-width: 768px) {
    overflow: auto;
  }


  // scrollbar css
  ::-webkit-scrollbar-track {
    background-color: transperent;
  }
  ::-webkit-scrollbar {
    display: block;
    width: 4px;
    background-color: transperent;
  }
  ::-webkit-scrollbar-thumb {
    display: block;
    border-radius: 10px;
    background-color: $border-color;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}