@import './fonts.scss';

$padding: 4vw;
$border-color: #e1e1e1;
$app-blue: #3b7dee;
$app-green: #0080009c;

$links-font-size: 12px;
$text-font-size: 16px;

body {
  margin: 0;
}

input {
  font-family: 'Heebo', sans-serif;
  border: none;
  direction: rtl;
  border-bottom: 1px solid $border-color;
  outline: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  cursor: pointer;
  font-size: $links-font-size;
  &:hover {
    // box-shadow: 0px 0 7px 0 rgba(0, 0, 0, 0.17);
    box-shadow: 0 0 11px rgba(33,33,33,.4); 
  }
}

.flex {
  display: flex;
}

.space-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

#app {
  font-family: 'Heebo', sans-serif;
  overflow: hidden;


  // scrollbar css
  ::-webkit-scrollbar-track {
    background-color: transperent;
  }
  ::-webkit-scrollbar {
    display: block;
    width: 4px;
    background-color: transperent;
  }
  ::-webkit-scrollbar-thumb {
    display: block;
    border-radius: 10px;
    background-color: $border-color;
  }
}